.idea/
.DS_Store
**/__pycache__/
*.sub
*.out
*.err
**main.py
.ipynb_checkpoints
./Training/.ipynb_checkpoints
NgSpicePipeline/out/
NgSpicePipeline/result_out/
NgSpicePipeline/out_plot/
NgSpicePipeline/assets/tmp_out/